# Flutter
.dart_tool/
.packages
.pub/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework

# Android
android/.gradle/
android/local.properties

# Environment
.env

# Mac
.DS_Store

# Windows
Thumbs.db